.twitch-btn {
    background-color: #6441A4;
    color: #FFF;
    border-color: #6441A4;
}

.youtube-btn {
    background-color: #fc3a3a;
    color: #FFF;
    border-color: #fc3a3a;
}
.instagram-btn {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    /* background-color: #f2f2f2; */
    color: #FFF;
}
.megafish-footer {
    background-color: #f0f0f0;
    height: 70px;
    /* margin-top: 15px; */
    padding: 20px;
}
.title-header {
    padding-bottom: 20px;
}
.shark-image {
    height: 85%;
    width: 85%;
}
#contact {
    color: white;
}
.cropped-image {
    object-fit: cover;
}
.service-image {
    opacity: 0.15;
    border: solid 1px;
    object-fit: cover;
    max-height: 300px;
}
.service-container {
    position: relative;
    text-align: left;
}
.service-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer-name {
    color: rgb(206, 177, 62);
}
.checked {
    color: orange;
}